@import "../../Styles/general.scss";
@import "../Cosmos/Cosmos.scss";

.ListingContainer {
    background-color: $layer3-background;
    color: $textcolor;
    position: absolute;
    top: 40px;
    right: 0%;
    height: 100%;
    width: 50%;
    overflow-y: auto;

    border-left: {
        color: #ffffff22;
        width: 1px;
        style: solid;
    }
    
}

.minimized{
    height: calc(50% - 40px)
}
.tag{
    width: 40px;
    height: 100%;
    background-color: red;
    //display: None;
}

.endorsement{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba($cosmos-color-3,.3);
    border-radius: 2%;
    border: {
        width: 1px;
        color: #ffffff33;
        style: solid;
    }
    margin-bottom: 3px;
    
    &-title{
        position: absolute;
        top: 2%;
        left: 2%;
    }
    &-link{
        position: absolute;
        bottom: 2%;
        left: 2%;
        color: white;
    }
    &-button{
        background-color: transparent;
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 3px;
        &:hover{
            background-color: orange;
        }
    }
}