@import "../../Styles/general.scss";

.ListingContainer {
    background-color: $layer3-background;
    color: $textcolor;
    position: absolute;
    top: 40px;
    right: 0%;
    height: 100%;
    width: 50%;
    overflow-y: auto;

    border-left: {
        color: #ffffff22;
        width: 1px;
        style: solid;
    }
}

.minimized{
    height: calc(50% - 40px)
}