// using this pallete https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$cosmos_background: #1d3557;
$background2: #457b9d;
$textcolor: #F1FAEE;
$shadowcolor: #a8dadc;
$layer2-background: #00000066;
$layer3-background: #00000044;

@mixin flow-item($r:10px,$l:10px){
    margin: {
        left: $l;
        right: $r;
    } 
}

@font-face {
  font-family: TitleFont;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}